<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lelangkan!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img src="logo.PNG" width="30" height="40">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div>
                    <form class="navbar-item row row-cols-lg-auto g-3 align-items-center">
                        <div class="input-group column is-full">
                            <form action="/home/search" method="post">
                            <div class="select">
                                <select name="sort">
                                    <option value="" selected disabled>--- search by ---</option>
                                    <option value="username">username</option>
                                    <option value="itemName">item</option>
                                </select>
                            </div>
                            <input type="text" name="search" class="form-control " id="inlineFormInputGroupUsername" placeholder="Search">
                            <button type="submit" class="btn btn-outline-secondary">
                            </form>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                            <path d="M7.5 1v7h1V1h-1z"/>
                            <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
                          </svg>
                    </a>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/Day 3/Pair-project/Lelangkan/views/signin.html" class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a href="/Day 3/Pair-project/Lelangkan/views/login.html" class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section container block">
        <div class="container block">
            <h1 class="title">
                Selamat Datang
            </h1>
            <p class="subtitle">
                Jual produkmu dengan cepat di <strong>Lelangkan</strong>!
            </p>
            <a href="/addProduct" class="button is-primary is-rounded">Jual</a>
        </div>
        <div class="box">
            <div>
                <p>
                <h1>Paling Laku!</h1>
                </p>
            </div>
            <div class="columns is-multiline">
                <% data.forEach((el, i) => { %>
                    <% if (i <= 3) { %>
                        <div class="column is=3">
                            <div class="card" id="Data 1">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="<%= el.Items[0].picture %>" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="has-text-centered">
                                        <h3> <%= el.Items[0].name %> </h3>
                                    </div> <br>
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-48x48">
                                                <img src="<%= el.Items[0].picture %>" alt="Placeholder image">
                                            </figure>
                                        </div>
        
                                        <div class="media-content">
                                            <p class="title is-5"><%= el.Profile.name %></p>
                                            <p class="subtitle is-6">@<%= el.username %></p>
                                            <a href="./productpage/<%= el.Items[0].id %>" class="stretched-link "></a>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
        <div class="box">
            <div>
                <p>
                <h1>Barang Lainnya</h1>
                </p>
            </div>
            <div class="columns is-multiline">
                <% data.forEach((el, i) => { %>
                        <div class="column is-2">
                            <div class="card" id="Data 1">
                                <div class="card-image">
                                    <figure class="image is-4by3">
                                        <img src="<%= el.Items[0].picture %>" alt="Placeholder image">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="has-text-centered">
                                        <h6> <%= el.Items[0].name %> </h6>
                                    </div> <br>
                                    <div class="media">
                                        <div class="media-left">
                                            <figure class="image is-48x48">
                                                <img src="<%= el.Items[0].picture %>" alt="Placeholder image">
                                            </figure>
                                        </div>
        
                                        <div class="media-content">
                                            <p class="title is-7"><%= el.Profile.name %></p>
                                            <p class="title is-7">@<%= el.username %></p>
                                            <a href="./productpage/<%= el.Items[0].id %>" class="stretched-link "></a>
                                        </div>
                                    </div>
        
                                </div>
                            </div>
                        </div>
                <% }) %>
            </div>
        </div>
    </section>

</body>

</html> 
