<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lelangkan!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img src="logo.png" width="30" height="40">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <div>
                    <form class="navbar-item row row-cols-lg-auto g-3 align-items-center">
                        <div class="input-group column is-full">
                            <input type="text" class="form-control " id="inlineFormInputGroupUsername"
                                placeholder="Search">
                            <button type="button" class="btn btn-outline-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                        </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="/logout">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                            <path d="M7.5 1v7h1V1h-1z"/>
                            <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
                          </svg>
                    </a>
                </div>
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="/signin" class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a href="/login" class="button is-light">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="section container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/home">Home</a></li>
                <li class="is-active"><a href="#">Item</a></li>
            </ul>
        </nav>
        <div>
            <div class="columns is-multiline">
                <div class="column is-4">
                    <figure class="image is-256x256">
                        <img src="<%= item.picture%>">
                    </figure>
                </div>
                <div class="column is-5">
                    <div class="content">
                        <h1><%= item.name%></h1>
                        <div>
                            <p class="heading"><%= item.status %></p>
                        </div>
                        <th>
                            <p><%= item.description %></p>
                        </th>
                        <h2>Second level</h2>
                        <p>Curabitur accumsan turpis pharetra <strong>augue tincidunt</strong> blandit. Quisque
                            condimentum
                            maximus mi, sit amet commodo arcu rutrum id. Proin pretium urna vel cursus venenatis.
                            Suspendisse potenti. Etiam mattis sem rhoncus lacus dapibus facilisis. Donec at dignissim
                            dui.
                            Ut et neque nisl.</p>
                        <ul>
                            <li>In fermentum leo eu lectus mollis, quis dictum mi aliquet.</li>
                            <li>Morbi eu nulla lobortis, lobortis est in, fringilla felis.</li>
                            <li>Aliquam nec felis in sapien venenatis viverra fermentum nec lectus.</li>
                            <li>Ut non enim metus.</li>
                        </ul>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="box">
                        <div>
                            <form class="navbar-item row row-cols-lg-auto g-3 align-items-center">
                                
                            </form>
                        </div>
                        <h3><%= priceFormatted %></h3>

                        <br>
                        <div>
                            <a href="/home" class="button is-success">Buy</a> <a href="<%= redir %>" class="button is-light">edit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html> 

